#welcome_logo {
  width: 300px;
  height: auto;
}

#base path {
  fill:#000; /* 塗りの色 */
}

#mask path {
  fill:none; /* 塗りの色 */
  stroke:#ffffff; /* 線の色 */
  stroke-width:12px; /* 線幅 */
  stroke-linecap:round; /* 線端の形状 */
  stroke-linejoin:round; /* 角の形状 */
}