.quiz {
    border: none;
}

.quiz label {
    display: flex;
    align-items: center;
    gap: 0 .5em;
    position: relative;
    max-width: 200px;
    margin-bottom: .4em;
    padding: .5em .7em;
    border: 1px solid #2589d0;
    border-radius: 25px;
    background-color: #2589d026;
    cursor: pointer;
}

.quiz label:has(:checked) {
    background-color: #2589d0;
    color: #fff;
}

.quiz label::before,
.quiz label:has(:checked)::after {
    border-radius: 50%;
    content: '';
}

.quiz label::before {
    width: 14px;
    height: 14px;
    background-color: #fff;
}

.quiz label:has(:checked)::after {
    position: absolute;
    top: 50%;
    left: calc(7px + .7em);
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    background-color: #2589d0;
}

.quiz input {
    display: none;
}